body {
    background: #f9fafb;
    font-family: system-ui, sans-serif;
    margin: 0;
}

header {
    background: #E7AAFA;
    color: #222;
    padding: 1rem;
}

header h1 {
    font-size: clamp(1.5rem, 3vw, 2.2rem);
}

section, .toolbar, .allPostsSection {
    max-width: 900px;
    margin: 1rem 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

input[type="text"], textarea {
    padding: 0.75rem 1rem;
    border: 1px solid #e9d7f6;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus, textarea:focus {
    border-color: #bc83fa;
    box-shadow: 0 0 5px rgba(231,170,250,0.5);
    outline: none;
}

button {
    padding: 0.5rem 1rem;
    border: 1px solid #e9d7f6;
    border-radius: 6px;
    background: #fff;
    color: #222;
    cursor: pointer;
    width: fit-content;
    margin: 0 0 0 auto;
}

button:hover {
    background-color: #E7AAFA;
}

#postsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.post {
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    margin: 1rem 0;
}

.post h3 {
    font-size: clamp(1rem, 1.8vw, 1.4rem);
}

.post p {
    margin: 0;
}

#clearBtn {
    margin: 1rem 0;
}

